<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$subject}</title>
    <style>
        body {
            background: #ffffff;
        }
    </style>
</head>
<body>

<p>Zaznamenali jsme žádost o obnovu hesla vašeho účtu v JA ADMIN.</p>
<p>Pokud chcete obnovit své heslo, pokračujte kliknutím na odkaz: <a href="{$link}">zde</a>.</p>
<br />
<p>Pokud jste žádost neodeslal/a vy, neodpovídejte prosím na tento e-mail a neprovádějte žádnou akci.</p>

</body>
</html>