{block icon}<i class="fa fa-home"></i>{/block}
{block title}{_'coreModule.homepage.title'}{/block}
{block action}{_'coreModule.homepage.action'}{/block}

{block content}

<h2 class="mb-5">{include icon} <span class="d-none d-md-inline">{include title}</span> &raquo; {include action}</h2>

<h3 class="mb-4">{_'coreModule.homepage.activeExtensions'}: <span class="badge bg-primary">{$activeExtensionsCount}</span></h3>

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <ul class="list-group list-group-flush">
            {foreach $extensions as  $extension}
                {if $extension->isActive()}
                    <a n:href="$extension->getPresenter()" class="list-group-item text-bg-primary">
                        <i class="{$extension->getIcon()} me-2"></i> {_$extension->getKey() . "Module.title"}
                    </a>
                {else}
                    <li class="list-group-item text-bg-secondary">
                        <i class="{$extension->getIcon()} me-2"></i> {_$extension->getKey() . "Module.title"}
                    </li>
                {/if}
            {/foreach}
        </ul>
    </div>
</div>
