{block content}

<div class="container-fluid">
    <div class="row">
        <div class="col">

            <div class="row" id="sluzby">
                <div class="col-12">

                    <h1 class="mb-5 text-primary">Přístup odepřen</h1>

                    <div class="row">
                        <div class="col-12">
                            <small>ERROR 403</small>
                            <p class="mt-5"><a n:href="Home:default" class="btn btn-primary" aria-label="Vrátit se na hlavní stránku">Zpět na hlavní stránku</a></p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
