{block content}

<div class="container-fluid">
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col-12">

                    <h1 class="mb-5 text-primary">{_'coreModule.error.4xx.title'}</h1>

                    <div class="row">
                        <div class="col-12">
                            <p class="fw-bold">{_'coreModule.error.4xx.errorCodeLabel'} {$errorCode}</p>
                            <p class="mt-5"><a n:href=":Core:Overview:default" class="btn btn-primary" aria-label="{_'coreModule.error.4xx.backlink.label'}">{_'coreModule.error.backlink.label'}</a></p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
