<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>Interní chyba</title>

    <style>
        h1 { font-size: 50px; font-weight: bold; font-family: sans-serif; margin: 40px;}
         p { font-size: 20px; font-family: sans-serif; margin: 40px;}
    </style>
</head>

<body>
    <h1>Nastala interní chyba</h1>
    <p>Pokud potíže přetrvávají, kontaktujte mě na <a href="mailto:kontakt@jsemajtacka.cz">kontakt@jsemajtacka.cz</a></p>
</body>