<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>Internal error</title>

    <style>
        h1 { font-size: 50px; font-weight: bold; font-family: sans-serif; margin: 40px;}
         p { font-size: 20px; font-family: sans-serif; margin: 40px;}
    </style>
</head>

<body>
    <h1>Internal error</h1>
    <p>If the problem lasts, contact me at <a href="mailto:kontakt@jsemajtacka.cz">kontakt@jsemajtacka.cz</a></p>
</body>