{block content}

<div class="row">
    <div class="col-12 col-md-6">
        <h1 class="mb-3"><i class="fa fa-user-lock"></i> {_'coreModule.passwordReset.headline'}</h1>

        {form passwordResetForm}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    {label newPassword, "class" => "form-label" /}
                </div>

                <div class="col">
                    {input newPassword, "class" => "form-control"}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    {label newPasswordAgain, "class" => "form-label" /}
                </div>

                <div class="col">
                    {input newPasswordAgain, "class" => "form-control"}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col offset-md-3">
                    {input submit, "class" => "btn btn-primary mb-3"}
                </div>
            </div>

        {/form}
    </div>
</div>