{block content}

<div class="row">
    <div class="col-12 col-md-6">
        <h1 class="mb-3"><i class="fa-regular fa-user"></i> {_'coreModule.login.headline'}</h1>

        {form loginForm}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    {label email, "class" => "form-label" /}
                </div>

                <div class="col">
                    {input email, "class" => "form-control"}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    {label password, "class" => "form-label" /}
                </div>
                <div class="col">
                    {input password, "class" => "form-control"}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col offset-md-3">
                    {input submit, "class" => "btn btn-primary mb-3"}
                    <p>
                        <a n:href=":Core:PasswordResetRequest:default" class="">{_'coreModule.login.passwordReset'}</a>
                    </p>
                </div>
            </div>

        {/form}
    </div>
</div>