<!DOCTYPE html>
<html lang="{$locale}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="Administrace webu od JsemAjtacka.cz">

		<title>{ifset title}{include title|stripHtml} | {/ifset}JA ADMIN</title>

		<link rel="stylesheet" href="{$basePath}/assets/styles.css" />

		{block scripts}
			<script defer src="{$basePath}/assets/scripts.js"></script>
		{/block}
	</head>

	<body>
		{if !in_array($presenter->getName(), ["Core:Error4xx", "Core:Error"])}
			{include "navigation.latte"}

			{if $user->isLoggedIn()}
				{include "offcanvas.latte"}
			{/if}

		{/if}

		<div class="container-fluid">
			<div class="row my-3">
				<div class="col-12 col-xl-10 col-xxl-8">
					{include content}
				</div>
			</div>

			{include "flashes.latte"}
		</div>

	</body>
</html>
