<div class="position-fixed top-0 end-0 p-3 toast-container" n:foreach="$flashes as $flash" style="z-index:10;">
    <div n:class="toast, bg-white, border, text-black" role="alert" aria-live="assertive" aria-atomic="true">
        <div n:class="toast-header, border-bottom, text-black">
            <i class="{$flash->getIcon()} me-auto"></i>
            <small class="ps-2">{$flash->date|date:"d.m.Y H:i"}</small>
            <button type="button" class="btn-close opacity-100" data-bs-dismiss="toast" aria-label="{_'coreModule.flashes.close'}"></button>
        </div>
        <div class="toast-body">
            {_$flash->text}
        </div>
    </div>
</div>