<nav class="navbar navbar-expand bg-dark" data-bs-theme="dark">
    <div class="container-fluid">

        <a class="btn btn-light" n:href=":Core:Overview:default">JA ADMIN</a>

        <ul class="navbar-nav" n:if="$user->isLoggedIn()">
            <li class="nav-item">
                <a class="nav-link" href="{$websiteUrl}" target="_blank">
                    <i class="fa fa-earth"></i>
                    <span class="d-none d-lg-inline">{_'coreModule.navigation.seeWebsite'}</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span class="d-none d-lg-inline">{$user->getIdentity()->getUsername()}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" n:href="logout!">{_'coreModule.navigation.logout'} <i class="fa fa-sign-out"></i></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <button class="btn btn-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                    <i class="fa fa-cog"></i>
                    {_'coreModule.navigation.menu'}
                </button>
            </li>
        </ul>

    </div>
</nav>
