<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">
            <i class="fa fa-cog"></i>
            {_'coreModule.navigation.menu'}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav mt-2">
            <li class="nav-item mb-auto w-100">
                <a n:href=":Core:Overview:default" class="nav-link border rounded {if $presenter->isLinkCurrent()}bg-white border-dark{else}border-white{/if}">
                    <i class="fa fa-home"></i>
                    {_'coreModule.navigation.homepage'}
                </a>
            </li>

            {foreach $extensions as $extension}
                {if $extension->isActive()}
                    <li class="nav-item mb-auto w-100">
                        <a n:href="$extension->getPresenter()" class="nav-link border rounded {if isModuleCurrent($extension->getFirstUpperKey())}bg-white border-dark{else}border-white{/if}">
                            <i class="{$extension->getIcon()}"></i>
                            {_$extension->getKey() . "Module.title"}
                        </a>
                    </li>
                {/if}
            {/foreach}
        </ul>
    </div>
</div>